<h1>All Trips</h1>
<ul class="list-of-data">
  <% @trips.each do |trip| %>
    <li>
      <ul class="details">
        <li><%= link_to "#{trip.id}", trip_path(trip.id) %></li>
        <li><%= trip.driver_id %></li>
        <li><%= trip.passenger_id %></li>
        <li><%= trip.date %></li>
        <li><%= trip.rating %></li>
        <li><%= trip.cost %></li>
        <li><%= link_to "Edit", edit_trip_path(trip.id) %></li>
        <li><%= link_to "Delete", trip_path(trip.id), method: :delete,  data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </li>
  <% end %>
</ul>
