<header>
  <h1>Trip Detail</h1>
</header>

<section>
  <h2>Trip #<%= @trip.id %></h2>

  <p>
    <strong>Driver ID</strong><br><%= link_to "#{@trip.driver_id}", driver_path(@trip.driver_id) %>
  </p>

  <p>
    <strong>Passenger ID</strong><br><%= link_to "#{@trip.passenger_id}", passenger_path(@trip.passenger_id) %>
  </p>

  <p><strong>Date</strong><br><%= @trip.date %></p>

  <p><strong>Cost</strong><br><%= @trip.display_cost %></p>

  <p>
    <strong>Rating</strong><br>
    <% if @trip.rating %>
      <%= "#{@trip.rating}" %>
    <% else %>
      <%= form_with model: @trip, class: "trip-form"  do |f|%>
        <%= f.select :rating, ["-", 1, 2, 3, 4, 5] %>
        <%= f.submit "Save", class: "button" %>
      <% end %>
    <% end %>
  </p>

  <%= button_to "Edit", edit_trip_path(@trip.id), class: "alt-button", method: :get %>
  <%= button_to "Delete", trip_path(@trip.id), method: :delete,
    data: { confirm: 'Are you sure?' }, class: "alt-button" %>
</section>
