<h1>Passenger Detail</h1>

<h2><%= @passenger.name %></h2>

<p>ID: <%= @passenger.id %></p>
<p>Phone number: <%= @passenger.phone_num %></p>
<p>Total spending: $<%= @passenger.total_spent %></p>

<ul>
  <li><%= link_to "Edit", edit_passenger_path(@passenger.id) %></li>
  <li><%= link_to "Delete", passenger_path(@passenger.id), method: :delete,  data: { confirm: 'Are you sure?'} %></li>
  <li><%= link_to "Start Trip", passenger_trips_path(@passenger.id), method: :post %></li>
</ul>

<h2>Passenger's Trips</h2>
<% trips = @passenger.list_trips %>
<ul class="list-of-data">
  <% trips.each do |trip| %>
    <li>
      <ul class="details">
        <li><%= link_to "#{trip.id}", trip_path(trip.id) %></li>
        <li><%= trip.driver_id %></li>
        <li><%= trip.passenger_id %></li>
        <li><%= trip.date %></li>
        <li>
          <% if trip.rating %>
            <%= trip.rating %>
          <% else %>
            <%= form_with model: @trip, class: "trip-form"  do |f|%>
              <%= f.select :rating, ["-", 1, 2, 3, 4, 5] %>
            <% end %>
          <% end %>
        </li>
        <li><%= trip.cost %></li>
      </ul>
    </li>
  <% end %>
</ul>
