<h1>Passenger Detail</h1>

<h2><%= @passenger.name %></h2>

<p>ID: <%= @passenger.id %></p>
<p>Phone number: <%= @passenger.phone_num %></p>
<p>Total spending: <%= @passenger.total_spent %></p>

<ul>
  <li><%= link_to "Edit", edit_passenger_path(@passenger.id) %></li>
  <li><%= link_to "Delete", passenger_path(@passenger.id), method: :delete,  data: { confirm: 'Are you sure?'} %></li>
  <li><%= link_to "Start Trip", passenger_trips_path(@passenger.id), method: :post %></li>
</ul>

<h2>Passenger's Trips</h2>
<% trips = @passenger.list_trips %>
<table class="list-of-data">
  <tr class="table-header details">
    <td>ID</td>
    <td>Driver</td>
    <td>Passenger</td>
    <td>Date</td>
    <td>Cost</td>
    <td>Rating</td>
  </tr>
  <% trips.each do |trip| %>
    <tr class="details">
      <td><%= link_to "#{trip.id}", trip_path(trip.id) %></td>
      <td><%= trip.driver_id %></td>
      <td><%= trip.passenger_id %></td>
      <td><%= trip.date %></td>
      <td><%= trip.display_cost %></td>
      <td>
        <% if trip.rating %>
          <%= trip.rating %>
        <% else %>
          <%= "--" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
