<h1>Driver Details</h1>

<h2><%= @driver.name %></h2>

<ul>
  <li>
    ID: <%= @driver.id %>
  </li>
  <li>
    VIN: <%= @driver.vin %>
  </li>
  <li>
    Total Earnings: <%= @driver.total_earnings %>
  </li>
  <li>
    Rating: <%= @driver.average_rating %>
  </li>
</ul>

<ul>
  <li><%= link_to "Edit", edit_driver_path(@driver.id) %></li>
  <li><%= link_to "Delete", driver_path(@driver.id), method: :delete,  data: { confirm: 'Are you sure?'} %></li>
</ul>

<h2>Driver's Trips</h2>
<% trips = @driver.list_trips %>
<ul class="list-of-data">
  <% trips.each do |trip| %>
    <li>
      <ul class="details">
        <li><%= link_to "Trip #{trip.id}", trip_path(trip.id) %></li>
        <li><%= link_to "Driver", driver_path(@driver.id) %></li>
        <li><%= link_to "Passenger #{trip.passenger_id}", passenger_path(trip.passenger_id) %></li>
        <li>Trip date <%= trip.date %></li>
        <li>Trip rating <%= trip.rating %></li>
        <li>Trip cost <%= trip.display_cost %></li>
      </ul>
    </li>
  <% end %>
</ul>
