<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav role="navigation">
      <div id="menuToggle">
        <!-- hidden checkbox so :checked selector can be used -->
        <input type="checkbox" />

        <!-- hamburger lines -->
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "Passengers", passengers_path %></li>
          <li><%= link_to "Drivers", drivers_path %></li>
          <li><%= link_to "Trips", trips_path %></li>
          <li><%= link_to "Add Driver", new_driver_path %></li>
          <li><%= link_to "Add Passenger", new_passenger_path %></li>
        </ul>
      </div>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
